.menu {
  height: 26px;
  margin-left: 25px;
}
.menu:hover {
  cursor: pointer;
}
.dropdown {
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  left: 25px;
  top: 35px;
  width: 215px;
  right: 0;
  background-color: #f9f9f9;
  z-index: 100;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-category {
  font-family: EB Garamond;
  font-size: 135%;
  padding-left: 5%;
}
.dropdown-category a {
  color: black;
  text-decoration: none;
}
.dropdown-category:hover {
  cursor: pointer;
  text-decoration: underline;
}
.logo {
  height: 120px;
}
.logo:hover {
  cursor: pointer;
}
@media screen and (max-width: 830px) {
  .logo {
    height: 110px;
  }
}
@media screen and (max-width: 730px) {
  .logo {
    height: 100px;
  }
}
@media screen and (max-width: 630px) {
  .logo {
    height: 90px;
  }
}
.search-container {
  position: relative;
}
input[type="text"] {
  font-size: 1.8vw;
  display: inline-block;
  font-family: EB Garamond;
  border: none;
  outline: none;
  color: black;
  padding: 3px;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  cursor: pointer;
}
input[type="text"]:focus:hover {
  border-bottom: 1px solid black;
}
input[type="text"]:focus {
  width: 300px;
  margin-right: 65px;
  z-index: 1;
  border-bottom: 1px solid black;
  cursor: text;
}
input[type="submit"] {
  height: 40px;
  width: 40px;
  margin-right: 25px;
  display: inline-block;
  color:red;
  background: url(ohjoystudios-website/search.png) center center no-repeat;
  background-size: contain;
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  cursor: pointer;
  transition: opacity .4s ease;
}
input[type="submit"]:hover {
  opacity: 0.8;
}
@media screen and (max-width: 1030px) {
  input[type="text"]:focus {
    width: 150px;
  }
}
@media screen and (max-width: 730px) {
  input[type="text"]:focus {
    width: 100px;
  }
}
@media screen and (max-width: 630px) {
  input[type="text"]:focus {
    width: 50px;
  }
}
@media screen and (max-width: 530px) {
  input[type="text"]:focus {
    width: 30px;
  }
}
.results {
  margin-right: 50px;
}
.results ul {margin: 0; padding: 0; }
.results ul li {
  list-style: none;
  border-radius: 3px;
  opacity: 0;
  display: none;
  padding: 8px 12px;
  transition: all .5s linear;
}
.show .results ul li {
  opacity: 1;
  display: block;
}
.show .results {
  margin-top: 45px;
}
.results ul li:hover {
  background: #ececec
}
.grid-container {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 50px;
}
.grid-left {
  display: flex;
  justify-content: flex-start;
}
.grid-center {
  display: flex;
  justify-content: center;
}
.grid-right {
  display: flex;
  justify-content: flex-end;
}
.category {
  font-size: 2.5vw;
  white-space: nowrap;
  letter-spacing: 0.5em;
  text-align: center;
}
.reach-us {
  margin-left: 5%;
  font-size: 2vw;
  font-weight: bold;
  text-decoration: underline;
}
.box {
  background-color: rgba(198,198,198,1);
  margin-left: 5%;
  margin-right: 5%;
}
.input-container{
	position:relative;
}
.input-container input{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width: 90%;
  padding:8px 0 5px 0;
  font-size: 1.3vw;
  color: black;
  margin-top: 3.5%;
  margin-left: 3.5%;
  opacity: 80%;
  font-family: Times New Roman;
}
.input-container input:focus{ 
  border:none;	
  outline:none;
  border-bottom:1px solid #e74c3c;	
}
.input-container label {
  position: absolute;
  left: 0;
  transition: 0.3s;
  pointer-events: none;
  margin-top: 3.5%;
  margin-left: 3.5%;
  font-size: 1.5vw;
  font-weight: bold;
}
.input-container input:focus + label,
.input-container input:valid + label {
  font-size: 1.2vw;
  transform: translateY(-18px);
}
.btn{
	color:#fff;
	background-color:#e74c3c;
  border: 0;
	padding: 1% 2%;
  font-size: 1.2vw;
	margin-top: 5%;
  margin-left: 3.5%;
  margin-bottom: 3%;
	border-radius:2px;
	cursor:pointer;
	position:relative;
}
.grid-header {
  display: grid;
  grid-template-columns: 22% 78%;
  margin-left: 5%;
  margin-top: 2%;
}
.header {
  font-size: 1.7vw;
  font-weight: bold;
}
.grid-context {
  display: grid;
  grid-template-columns: 22% 78%;
  margin-left: 5%;
  line-height: 0;
}
.information {
  margin-left: 5%;
  margin-top: 8%;
  font-size: 1.6vw;
  line-height: 180%;
}