.menu {
  height: 26px;
  margin-left: 25px;
}
.menu:hover {
  cursor: pointer;
}
.dropdown {
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  left: 25px;
  top: 35px;
  width: 215px;
  right: 0;
  background-color: #f9f9f9;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-category {
  font-family: EB Garamond;
  font-size: 135%;
  padding-left: 5%;
}
.dropdown-category a {
  color: black;
}
.dropdown-category:hover {
  cursor: pointer;
  text-decoration: underline;
}
.logo {
  height: 120px;
}
.logo:hover {
  cursor: pointer;
}
@media screen and (max-width: 830px) {
  .logo {
    height: 110px;
  }
}
@media screen and (max-width: 730px) {
  .logo {
    height: 100px;
  }
}
@media screen and (max-width: 630px) {
  .logo {
    height: 90px;
  }
}
.search-container {
  position: relative;
}
input[type="text"] {
  font-size: 1.8vw;
  display: inline-block;
  font-family: EB Garamond;
  border: none;
  outline: none;
  color: black;
  padding: 3px;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  cursor: pointer;
}
input[type="text"]:focus:hover {
  border-bottom: 1px solid black;
}
input[type="text"]:focus {
  width: 300px;
  margin-right: 65px;
  z-index: 1;
  border-bottom: 1px solid black;
  cursor: text;
}
input[type="submit"] {
  height: 40px;
  width: 40px;
  margin-right: 25px;
  display: inline-block;
  color:red;
  background: url(/Users/nathaliellena/Joy/search.png) center center no-repeat;
  background-size: contain;
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  cursor: pointer;
  transition: opacity .4s ease;
}
input[type="submit"]:hover {
  opacity: 0.8;
}
@media screen and (max-width: 1030px) {
  input[type="text"]:focus {
    width: 150px;
  }
}
@media screen and (max-width: 730px) {
  input[type="text"]:focus {
    width: 100px;
  }
}
@media screen and (max-width: 630px) {
  input[type="text"]:focus {
    width: 50px;
  }
}
@media screen and (max-width: 530px) {
  input[type="text"]:focus {
    width: 30px;
  }
}
.results {
  margin-right: 50px;
}
.results ul {margin: 0; padding: 0; }
.results ul li {
  list-style: none;
  border-radius: 3px;
  opacity: 0;
  display: none;
  padding: 8px 12px;
  transition: all .5s linear;
}
.show .results ul li {
  opacity: 1;
  display: block;
}
.show .results {
  margin-top: 45px;
}
.results ul li:hover {
  background: #ececec
}
.grid-container {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 50px;
}
.grid-left {
  display: flex;
  justify-content: flex-start;
}
.grid-center {
  display: flex;
  justify-content: center;
}
.grid-right {
  display: flex;
  justify-content: flex-end;
}
.capturing-your-moments {
  text-align: center;
  font-size: 45px;
  font-family: EB Garamond;
  font-weight: bold;
  line-height: 2%;
  margin-top: 70px;
}
.categories {
  text-align: center;
  font-size: 20px;
}
a:link {
  text-decoration: none;
}
.category {
  font-family: EB Garamond;
  line-height: 65%;
}
html, body {
  scroll-behavior: smooth;
}
.category:hover {
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
}
.book-slot {
  width: 140px;
  height: 50px;
  text-align: center;
  border: 1px solid rgb(32, 32, 32);
  opacity: 0.7;
  margin: auto;
  font-size: 18px;
  line-height: 15px;
}
.book-slot a {
  color: rgb(32, 32, 32);
}
.book-slot:hover {
  cursor: pointer;
  text-decoration: underline;
  opacity: 1;
}
.cover {
  position: relative;
  text-align: center;
}
.cover-picture {
  display: block;
  margin-top: 50px;
  margin-bottom: 2%;
  width: 100%;
  filter: brightness(70%);
}
.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6vw;
  width: 100%;
  white-space: nowrap;
  color: rgba(255,255,255,1);
  letter-spacing: 0.5em;
  text-align: center;
}
.text:hover {
  cursor: pointer;
}
.text a {
  color: rgba(255,255,255,1);
}
.text-long {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5vw;
  width: 100%;
  white-space: nowrap;
  color: rgba(255,255,255,1);
  letter-spacing: 0.5em;
  text-align: center;
}
.text-long:hover {
  cursor: pointer;
}
.text-long a {
  color: rgba(255,255,255,1);
}
.image-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.left {
  display: flex;
  justify-content: flex-end;
  margin-right: 4%;
}
.picture {
  margin-top: 12%;
  margin-bottom: 4%;
  width: 68%;
  object-fit: contain;
}
.right {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 4%;
}
.info-container {
  display: flex;
  align-items: center;
  margin-top: 18%;
}
.photography {
  width: 8%;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 0;
  object-fit: contain;
}
.description {
  font-size: 2.3vw;
  margin-bottom: 0;
}
.header {
  font-size: 4vw;
  margin-top: 3.5%;
  margin-bottom: 3.5%;
}
.name {
  font-size: 2vw;
  margin-top: 0;
}